<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>OAuth2 Review Board Sample App</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <h3>Welcome to the Review Board OAuth2 Sample App!</h3>
  Before using this app, please make sure you do the following:
  <ul>
    <li>
      Add new OAuth2 application to <a href="https://rb.corp.linkedin.com/account/preferences/#oauth2">Review Board</a>,
      add an allowed Redirect URI to this sample app <a href="http://localhost:8080/oauth2redirect">http://localhost:8080/oauth2redirect</a>
    </li>
    <li>
      Update application.properties with your Client ID from previous step
    </li>
  </ul>
  <br /><br /><br />

  <!-- Sign In With Review Board Button -->
  <b>Sign In With Review Board</b><br />
  Scope(s) (comma separated list)<input type="text" id="scope"/>
  <a class="imgLink" th:onclick="'launchPopup(\'signInWithReviewBoard\');'" href="#">
    Sign In
  </a>
  <br /><br /><br />
  <script>
  function launchPopup(path) {
    var parameters = "location=1,width=800,height=650";
    parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;

    var launchPath = path + '?scope=' + $('#scope').val();

    // Launch Popup
    window.open(launchPath, 'connectPopup', parameters);
  }
</script>

</body>
</html>
